# Eclipse
/.classpath
/Compiler.eml
/.settings

# IntelliJ
/.idea/
*.iml

# Compilation results
**/target/
**/build/*
**/reports/
!**/src/**/build/
Compiler.userlibraries
.project

*.jar
*.log

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Secrets
secrets.properties

# Mac
.DS_Store
report.sarif

# Node
node_modules/
npm-debug.log
